{% extends 'base.html.twig' %}

{% block title %}Tarification index{% endblock %}

{% block body %}
    <h1>Tarification index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Adult</th>
                <th>Kid</th>
                <th>GroupPrice</th>
                <th>School</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarification in tarifications %}
            <tr>
                <td>{{ tarification.id }}</td>
                <td>{{ tarification.adult }}</td>
                <td>{{ tarification.kid }}</td>
                <td>{{ tarification.groupPrice }}</td>
                <td>{{ tarification.school }}</td>
                <td>
                    <a href="{{ path('tarification_show', {'id': tarification.id}) }}">show</a>
                    <a href="{{ path('tarification_edit', {'id': tarification.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tarification_new') }}">Create new</a>
{% endblock %}
